:root {
    --dark-bg: #212529;
    --bg-secondary: #343a40;
    --dark-text: #f8f9fa;
    --accent: #0dcaf0;
    --border: #6c757d;
}

.bg-home {
    background-color: var(--bg-secondary) !important;
}

.text-dark-text {
    color: var(--dark-text) !important;
}

.text-accent {
    color: var(--accent) !important;
}
